configuration {
    modi: "drun";
    show-icons: true;
    display-drun: "";
    drun-display-format: "{name}";
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@import "../theme/colors.rasi"

* {
    font: "Figtree 13";
    background-color: transparent;
    text-color: @text;
}

window {
    fullscreen: true;
    background-color: #1e1e2ed8; 
    text-color: @text;
}

mainbox {
    children: [ "inputbar", "listview" ];
    spacing: 60px;
    padding: 10% 12%;
}

inputbar {
    background-color: @surface0;
    border-radius: 16px;
    padding: 16px 24px;
    spacing: 15px;
    children: [ "prompt", "entry" ];
    margin: 0px 20% 0px 20%;
}

prompt {
    text-color: @mauve;
    font: "Figtree 18";
    vertical-align: 0.5;
}

entry {
    placeholder: "Search applications...";
    placeholder-color: @subtext0;
    text-color: @text;
    font: "Figtree 15";
    vertical-align: 0.5;
}

listview {
    columns: 6;
    lines: 4;
    cycle: true;
    dynamic: true;
    layout: vertical;
    scrollbar: false;
    spacing: 35px;
    fixed-columns: true;
}

element {
    orientation: vertical;
    padding: 25px 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    text-color: @text;
    spacing: 15px;
}

element normal.normal, element alternate.normal {
    background-color: transparent;
    text-color: @text;
}

element selected.normal, element selected.active {
    background-color: @surface1;
    text-color: @mauve;
    border: 2px solid;
    border-color: @mauve;
}

element-icon {
    size: 72px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: inherit;
    font: "Figtree 12";
}
