configuration {
    modi: "dmenu";
    show-icons: true;
    display-dmenu: "󰅌";
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@import "base.rasi"

window{
    height: 650px;
  }

entry {
    placeholder: "Search  Clipboard...";
   }

listview {
    columns: 1;
    lines: 7;
    spacing: 6px;
    padding: 0px;
}

element {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    text-color: @text;
    spacing: 12px;
}

element-icon {
    size: 48px;
    vertical-align: 0.5;
}

element-text {
    margin: 0px;
    padding: 0px;
    vertical-align: 0.5;
}

prompt {
    enabled: false;
}
